.user-form {
    display: flex;
    width: 400px;
    flex-flow: column nowrap;
    align-items: flex-end;
    & > * {
        margin: 5px;
    }
    input {
        margin-left: 5px;
    }
}
.error {
    border: 2px solid red;
}